main {
	display : flex;
}

. info {
    largura :  20 % ;
    enchimento :  2 % ;
    alinhamento de texto : centro;
    borda direita :  4 px sólidos # 0000ff ;
    borda superior :  4 px sólidos # 0000ff ;
}

. currriculo {
    largura :  70 % ;
    enchimento :  2 % ;
}

. info  img {
	raio da borda :  100 % ;
	borda :  4 px sólidos # ff0000 ;
}

img {
	largura máxima :  50 % ;
}

rodapé {
    cor de fundo :  # aaa ;
	preenchimento :  10 px  0 ;
	alinhamento de texto : centro;
	cor : preto;
	posição : absoluta;
	largura :  100 % ;
	inferior :  0 ;
	esquerda :  0 ;
}
