* {
  box-sizing: border-box;
}
body {
}
section {
  min-height:300px;
  display: inline-block;
  vertical-aling: top;
  width: 450px;
  padding: 2rem;
}
.a {
  background-color: black;
}
.b {
  background-color: darkseagreen;
}
.c {
  background-color: black;
}
.d {
  background-color: darkseagreen;
}
